#git ignore file


*
!.gitignore
!*/

!*.c
!*.cpp
!*.h


!publish_selection.sh
!publish_config.txt
!INSTALL.rst
!LICENSE.md
!Makefile
!README.rst
!COPYRIGHT
!lipsia-setup.sh
!tar_lipsia.sh
!version_history.txt

!/data/*.v
!/src/mvpa/vmvpa_svm/vmvpa_singletrialdesign

!/bin/.empty
!/lib/.empty

!/docs/*
!/docs/*/*
/docs/_build/*
/docs/_build/.*
/docs/_build/*/

/ext*
